.student-page {
  display: flex;      
  min-height: 100vh;   
  background-color: #f7f9fc;
}

.student-list-main-content {
  flex: 1;              
  padding: 20px;
  margin-left: 240px; /* Width of sidebar */
  width: calc(100% - 240px);
  box-sizing: border-box;
}

.btn-back {
  width: 72px;
  padding: 6px 12px;
  background-color: #6cb9e5;
  border: none;
  color: black;
  border-radius: 4px;
  cursor: pointer;
}

.btn-deadline {
  width: 84%;
  margin-left: 13px;
  height: 45px;
  border-radius: 6px;
}

.student-list {
  list-style: none;
  padding: 0;
}

.student-list li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.view-profile-btn {
  background-color: #e7f0ff;
  border: 1px solid #007bff;
  color: #007bff;
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
}

.view-profile-btn:hover {
  background-color: #d0e7ff;
}

@media (max-width: 768px) {
  .student-list-main-content {
    margin-left: 0;
    width: 100%;
  }
}